---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Services from '../components/Services.astro';
import Footer from '../components/Footer.astro';
import Gallery from '../components/Gallery.astro';
import Testo from '../components/TestoSingle.astro';
import ImgFull from '../components/ImageFull.astro';
import Pricing from '../components/Pricing.astro';
import NewsLetter from '../components/NewsLetter.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import CorporateService from '../components/CorporateService.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} /> 
		
		<Services />
		<CorporateService />
		<Gallery />
		<Testo />
		<ImgFull />
		<Pricing />
		<NewsLetter />
		<Footer />
	</body>
</html>
