---

---

<div class="flex" id="CorporateService">
  <div class="w-1/2 px-2 flex flex-col items-center relative">
    <div class="absolute circle-div-place">
      <img
        src="https://chroma.themerex.net/wp-content/uploads/2023/06/chroma-about.png"
        alt=""
        class="circle"
      />
    </div>
    <img
      src="https://chroma.themerex.net/wp-content/uploads/elementor/thumbs/image3-qapiayo4y140noju2kvrg74nde8ah3nh0b6of4dt5w.jpg"
      alt=""
    />
    <img
      src="https://chroma.themerex.net/wp-content/uploads/elementor/thumbs/image4-qapiayo4kvghhhpyy9mekn3bupt5bqe3ovl0trirro.jpg"
      alt=""
      class="absolute bottom-0 top-60 left-80 right-0 hover:opacity-100"
    />
  </div>
  <div class="w-1/2 flex flex-col p-28">
    <h5 class="">CORPORATE SERVIC</h5>
    <h2 class="">We love high quality photo products</h2>
    <p class="">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor et
      dolore magna aliqua.
    </p>
    <div class="flex">
      <div class="p-8">
        <p>Years</p>
        <p class="text-6xl">12+</p>
    </div>
      <div class="p-8">
        <p>People</p>
        <p class="text-6xl">100+</p>
    </div>
    </div>
  </div>
</div>

<style>
  .circle {
    animation: spin 10s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
