---
---

<div class="w-full py-10">
  <img src="https://chroma.themerex.net/wp-content/uploads/2023/06/bg1.jpg" alt="" class="image-mobile-res"/>
</div> 
<div class="p-20 py-40 sm-p-0 sm-py-2" id="Clients">
  <div class="container mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
      <!-- Brand Image 1 -->
      <div class="flex justify-center transition-opacity opacity-40 hover:opacity-100">
        <img src="https://chroma.themerex.net/wp-content/uploads/2023/06/chromo-client-1.png" alt="Brand 1" class="max-w-full h-auto">
      </div>

      <!-- Brand Image 2 -->
      <div class="flex justify-center transition-opacity opacity-40 hover:opacity-100">
        <img src="https://chroma.themerex.net/wp-content/uploads/2023/06/chromo-client-1.png" alt="Brand 2" class="max-w-full h-auto">
      </div>

      <!-- Brand Image 3 -->
      <div class="flex justify-center transition-opacity opacity-40 hover:opacity-100">
        <img src="https://chroma.themerex.net/wp-content/uploads/2023/06/chromo-client-1.png" alt="Brand 3" class="max-w-full h-auto">
      </div>

      <!-- Brand Image 4 -->
      <div class="flex justify-center transition-opacity opacity-40 hover:opacity-100">
        <img src="https://chroma.themerex.net/wp-content/uploads/2023/06/chromo-client-1.png" alt="Brand 4" class="max-w-full h-auto">
      </div>

      <!-- Brand Image 5 -->
      <div class="flex justify-center transition-opacity opacity-40 hover:opacity-100">
        <img src="https://chroma.themerex.net/wp-content/uploads/2023/06/chromo-client-1.png" alt="Brand 5" class="max-w-full h-auto">
      </div>

      <!-- Brand Image 6 -->
      <div class="flex justify-center transition-opacity opacity-40 hover:opacity-100">
        <img src="https://chroma.themerex.net/wp-content/uploads/2023/06/chromo-client-1.png" alt="Brand 6" class="max-w-full h-auto">
      </div>
    </div>
  </div>

</div>

