---
---
  <div class="row text-center lg:px-40" id="Pricing">
  <h4 class="text-black text-xl">CHOOSE YOURS</h4>
  <h2 class="text-black text-5xl">
Pricing plan</h2>
</div>
  <div class="grid md:grid-cols-3 gap-10 mx-auto mt-12">

      <div
        class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md sm-p-0"
      >
        <div class="text-center">
          <h4 class="text-lg font-medium text-gray-400">Silver pack</h4>
          <p class="m-1 text-4xl font-bold text-black md:text-4xl">
           $100.00
          </p>
          <p class=" text-lg font-medium text-gray-400 md:text-xl">
           Per Project
          </p>
        </div>
        <div class="flex mt-8 mx-auto">
          <a
            href="#"
            class="bg-blue-500 text-base text-white rounded-md px-6 py-3 hover:bg-sky-600 transition duration-300 ease-in-out"
          >
            Get Started
          </a>
        </div>
      </div>
      <div class="p-4">
          <div
            class="flex flex-col w-full order-first lg:order-none border-2 border-black borde-lg py-5 px-6 rounded-md sm-p-0"
          >
            <div class="text-center">
              <h4 class="text-lg font-medium text-gray-400">Gold pack</h4>
              <p class="m-1 text-4xl font-bold text-black md:text-4xl">
                $200.00          
                </p>
              <p class="text-lg font-medium text-gray-400 md:text-xl">
              Per Project
              </p>
            </div>
            <div class="flex mt-8 mx-auto">
              <a
                href="#"
                class="bg-blue-500 text-base text-white rounded-md px-6 py-3 hover:bg-sky-600 transition duration-300 ease-in-out"
              >
                Get Started
              </a>
            </div>
          </div>
          </div>
      <div
        class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md sm-p-0"
      >
        <div class="text-center">
          <h4 class="text-lg font-medium text-gray-400">Platinum pack</h4>
          <p class="m-1 text-4xl font-bold text-black md:text-4xl">
            $300.00
            </p>
          <p class="text-lg font-medium text-gray-400 md:text-xl">
           Per Project
          </p>
        </div>
        <div class="flex mt-8 mx-auto">
          <a
            href="#"
            class="bg-blue-500 text-base text-white rounded-md px-6 py-3 hover:bg-sky-600 transition duration-300 ease-in-out"
          >
            Get Started
          </a>
        </div>
      </div>

    </div>
