---

---

<div class="lg:py-40 lg:px-20" id="Services">
  <div class="row text-center lg:px-40">
    <h4 class="text-black text-xl">OUR SERVICES</h4>
    <h2 class="text-black text-6xl">
      We're passionate and creative photographers
    </h2>
  </div>
  <div class="flex flex-wrap justify-center py-20">
    <div class="relative w-1/4 px-2 flex flex-col items-center hover:opacity-100 ">
      <img
        src="https://chroma.themerex.net/wp-content/uploads/2023/06/post30-840x1050.jpg"
        alt="Image"
        class="object-cover w-full h-full hover:opacity-80 hover:bg-black ease-in-out delay-200"
      />
      <div
        class="absolute bottom-0 left-0 right-0 m-4 text-white text-center text-xl opacity-100 hover:opacity-100"
      >
      Portrait     
      </div>
    </div>
    <div class="relative w-1/4 px-2 flex flex-col items-center">
      <img
        src="https://chroma.themerex.net/wp-content/uploads/2023/06/post30-840x1050.jpg"
        alt="Image"
        class="object-cover w-full h-full"
      />
      <div
        class="absolute bottom-0 left-0 right-0 m-4  text-white text-center text-xl opacity-100 hover:opacity-100"
      >
      Wedding
      </div>
    </div>
    <div class="relative w-1/4 px-2 flex flex-col items-center">
      <img
        src="https://chroma.themerex.net/wp-content/uploads/2023/06/post30-840x1050.jpg"
        alt="Image"
        class="object-cover w-full h-full"
      />
      <div
        class="absolute bottom-0 left-0 right-0 m-4  text-white text-center text-xl opacity-100 hover:opacity-100"
      >
      Commercial
      </div>
    </div>
    <div class="relative w-1/4 px-2 flex flex-col items-center">
      <img
        src="https://chroma.themerex.net/wp-content/uploads/2023/06/post30-840x1050.jpg"
        alt="Image"
        class="object-cover w-full h-full"
      />
      <div
        class="absolute bottom-0 left-0 right-0 m-4  text-white text-center text-xl opacity-100 hover:opacity-100"
      >
      Fashion
      </div>
    </div>
  </div>
</div>